<mat-card>
  <mat-toolbar>Detalhes do Curso</mat-toolbar>
  <mat-card-content>
    <form [formGroup]="form" class="min-width" >
      <!-- Name -->
      <mat-form-field class="full-width">
        <mat-label>Nome do curso</mat-label>
      <input matInput [errorStateMatcher]="matcher" placeholder="Nome" formControlName="name" #name (keyup)="handleInput($event)"/>
        <mat-hint align="end">{{ name.value.length || 0}} / 100</mat-hint>
        <mat-error *ngIf="form.hasError">Digite min</mat-error>
      </mat-form-field >
      <!-- Category -->
     <mat-form-field class="full-width">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option value=""></mat-option>
          <mat-option value="Front-end">Front-end</mat-option>
          <mat-option value="Back-end">Back-end</mat-option>
        </mat-select>
      </mat-form-field> 
      
     
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Categoria</mat-label>
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let category of categories" 
              (removed)="remove(category)">
                {{category.nome}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input
              placeholder="New category..."
              #categoryInput
              #autocompleteTrigger="matAutocompleteTrigger"
              [formControl]="categoryCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
            </mat-chip-list>

            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option value="selectAll" aria-label="Select All Categories">
                {{ categories.length == 0 ? 'Selecionar todas' : 'Limpar todas' }}
              </mat-option>

              <mat-option *ngFor="let category of filteredCategories | async" [value]="category" (onSelectionChange)="toggleProfile(category)">
                <mat-checkbox color="primary" [checked]="isCategorySelected(category)">
                  {{category.nome}}
                </mat-checkbox>
              </mat-option>

            </mat-autocomplete>
          </mat-form-field>

<!--       <mat-form-field class="full-width" appearance="fill">
        <mat-label>Categoria<
          /mat-label>
        <mat-select [formControl]="categoryCtrl" multiple> 
          <mat-select-trigger>
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let category of categoryCtrl.value"
              [removable]="true" 
              (removed)="remove(category)">
              {{category}}
              <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </mat-select-trigger>
          <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
            {{category}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <!-- Description -->
      <mat-form-field class="full-width">
        <mat-label>Descrição do curso</mat-label>
        <textarea matInput placeholder="Descrição" formControlName="description"></textarea>
      </mat-form-field>
    </form>
  </mat-card-content>
  <!-- Actions -->
  <mat-card-actions class="actions-center">
    <button mat-raised-button color="primary" (click)="onSubmit()" type="submit">Save</button>
    <button mat-button color="warn" (click)="onCancel()" class="btn-space" type="button">Cancel</button>
  </mat-card-actions>
</mat-card>