<ng-template #semresultado>
  Nenhum resultado encontrado
</ng-template>

<mat-table [dataSource]="courses" *ngIf="courses.length > 0 else semresultado">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Curso</mat-header-cell>
    <mat-cell *matCellDef="let course" [matTooltip]="getSummary(course.description)" matTooltipPosition="below">
      {{ course.name }}
    </mat-cell>
  </ng-container>

  <!-- Category Column -->
  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef>Categoria</mat-header-cell>
    <mat-cell *matCellDef="let course">
      {{ course.category }}
      <mat-icon aria-hidden="false" aria-label="Categoria do Curso">
        {{ course.category | category }}
      </mat-icon>
    </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="action-column">Ações</mat-header-cell>
    <mat-cell *matCellDef="let course" class="action-column">
      <button mat-icon-button color="primary" aria-label="Like" (click)="registrarLike(course)">
        <mat-icon>thumb_up</mat-icon>
      </button>
      <span>{{ course.likes }}</span> <!-- Mostra o número de likes -->
      <button mat-icon-button color="warn" aria-label="Dislike" (click)="registrarDislike(course)">
        <mat-icon>thumb_down</mat-icon>
      </button>
      <span>{{ course.dislikes }}</span> <!-- Mostra o número de dislikes -->
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<mat-header-cell *matHeaderCellDef class="action-column">
